.idea/
/AIRbridge/**
/AIRline/**
/AIRport/**
/AIRway/**

npm-debug.log

# Ignore Rush temporary files
/common/temp/**

/node_modules

# Ignore Microsoft Rush temp files
.rush/

# Ignore VsCode History plugin directory
.history/

#**/lib/**

